:root {
    --clr-bg-button-price: hsl(158, 36%, 37%);
    --clr-bg-button-hover: hsl(158, 36%, 20%);
    --clr-bg-main: hsl(30, 38%, 92%);

    --clr-very-dark-blue: hsl(212, 21%, 14%);
    --clr-dark-grayish-blue: hsl(228, 12%, 48%);
    --clr-neutral: hsl(0, 0%, 100%);

    --fs-title-primary: 2.8rem;
    --fs-title-secondary: 1.1rem;
    --fs-text-primary: 1rem;
    --fs-text-current-price: 3rem;
    --fs-text-discount-price:  1.1rem;
    --fs-text-button: 1rem;

    --fw-light: 500;
    --fw-bold: 700; 
}

*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: var(--clr-bg-main);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

h1,
p {
    margin: 0;
}

.main-container {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 2rem 1rem;
    width: min(100% - 2rem, 800px);

    min-height: 80vh;    
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
}

.container-img {
    background: url('images/image-product-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    flex: 1;
}

.container-desc {
    background: var(--clr-neutral);
    padding: 2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    flex-direction: column;
}

.main-title {
    font-family: 'Fraunces', serif;
    font-size: var(--fs-title-primary);
    line-height: 1;
    margin-top: 1rem;

}

.secondary-title,
.text,
.price-discount {
    color: var(--clr-dark-grayish-blue);
}

.secondary-title {
    font-size: var(--fs-title-secondary);
    letter-spacing: 5px;
}

.text {
    font-size: var(--fs-text-primary);
    margin-top: 1rem;
    line-height: 1.6;

}

.price {
    margin-top: 2rem;

    display: flex;
    gap: 2rem;
    align-items: center;
}

.price-current {
    font-family: 'Fraunces', serif;
    font-size: var(--fs-text-current-price);
    color: var(--clr-bg-button-price);

}

.price-discount {
    text-decoration: line-through;
}

.cart {
    cursor: pointer;
    border: 0;
    outline: none;
    background: var(--clr-bg-button-price);
    font-size: var(--fs-text-button);
    font-weight: var(--fw-bold);
    margin-top: 1.5rem;
    padding: 1.5rem 6rem;
    border-radius: 10px;
}

.cart:hover,
.cart:active {
    background: var(--clr-bg-button-hover);
}

.cart img {
    display: inline-block;
    margin-right: 1rem;
}

.cart-shop {
    color: var(--clr-neutral);
    letter-spacing: 0.5px;
}


@media (min-width: 40em) {
    .container {
        min-height: 50vh;
        flex-direction: row;
    }

    .container-img {
        background: url('images/image-product-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        border-top-right-radius: 0px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

    }

    .container-desc {
        flex: 1;
        justify-content: center;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
    }

    .cart {
        padding: 1rem 4rem;
    }
}
